*{
    margin: 0 auto ;
    padding: 0 ;
    list-style: none;
}
body{
    width: 100% ;
}

/* 最上方信息 */
.header{
    background-color: #F3F3F3;
}
.header_content{
    width: 1200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    color: #656565;
}
.gap-small-picture{
    display: block ;
    width: 60px;
    height: 50px;
    float: left;
    background: url(../img/head.png) 9px 11px no-repeat;
    background-size: 108px 119px;
    background-color: #fff;
}
.old-small-picture{
    display: block;
    width: 70px;
    height: 50px;
    float: left;
    background: url(../img/head.png) 6px -37px no-repeat;
    background-size: 140px 160px;
}
.old-small-picture:hover{
    background-color: #fff;
}
.minute{
    font-size: 14px;
    color: #656565;
}
.shopping{
    width: 50px;
    height: 50px;
    float: right;
}
.shopping a{
    display: block;
    height: 50px;
    background: url(../img/shopping.svg) 14px 12px no-repeat;
}
.register{
    width: 95px;
    height: 45px;
    float: right;
    padding:5px 0 0 15px;
    text-align: left;
    font-size: 14px;
    color: #656565;
    line-height: 20px;
    cursor: pointer;
    margin-right: 120px;
}
.register:hover{
    background-color: #fff;
}
.header_menu{
    width: 110px;
    border:1px solid #DCDCDC;
    margin-left: -15px;
    padding-bottom: 5px;
    display: none;
    background-color: #fff;
    position: absolute;
    
}
.header_menu li{
    text-align: center;
}
.header_menu a{
    text-decoration: none;
    color: #656565;
}
.header_inf{
    background-color: #010D41;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 10px;
}
.header_inf a{
    font-size: 14px;
    color: #fff;
}
.header_menu i{
    display: block;
    width: 90px;
    height: 1px;
    background-color: #CBCBCB;
    margin-bottom: 5px;
}

/* 优惠提示 */
.symb{
    width: 100%;
    height: 60px;
    background-color: #152344;
}
.symb p{
    width: 1200px;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    color: #FEFEFE;
    text-align: center;
    background-color: #232D4B;
}
.symb p span{
    margin-right: 100px;
    font-weight: bold;
}
.symb p a{
    font-size: 16px;
    color: #FEFEFE;
}

/* 搜索框 */
.search{
    width: 1200px;
    height: 40px;
    padding-top: 10px;
}
.search p{
    width: 190px;
    height: 38px;
    border: 1px solid #A8A8A8;
    float: right;
}
.search p input{
    width: 150px;
    height: 38px;
    border: 0px;
    outline: none;
}
.search p a{
    float: right;
    margin: 8px 5px 0 0;
}

/* 导航栏 */
.nav{
    width: 1200px;
    height: 70px;
    margin-bottom: 40px;
}
.nav li{
    width: auto;
    height: 70px;
    line-height: 70px;
    font-size:12px;
    color: #152344;
    float: left;
}
.nav li img{
    width: 70px;
    height: 70px;
}
.nav li a{
    text-decoration: none;
    font-size: 16px;
    color: #010840;
    font-weight: 600;
    padding: 0 30px;
}

/* 打折的轮播图 */
.discount{
    width: 1200px;
    height: 600px;
}


/* 定制 */
.creation{
    width: 1200px;
    height: 241px;
    margin-top: 50px;
}

/* 超值购 */
.val{
    width: 1200px;
    height: 408px;
    margin-top: 50px;
}
.val_picture{
    height: 108px;
}
/* 超值购的轮播图 */
.twenty{
    width: 1200px;
    height: 300px;
}
.twenty-picture{
    width: 1135px;
    height: 300px;
}
.twenty-picture div{
    width: 220px;
    height: 300px;
    margin-left: 6px;
    float: left;
}
.twenty-picture div img{
    height: 300px;
    width: 220px;
}

/* GOOD */
.good{
    width: 1200px;
    height: 504px;
    margin-top: 50px;
}

/* THREE */
.three-picture{
    width: 1200px;
    height: 520px;
    margin-top: 50px;
}

/* NEW SCHOOL */
.new-school{
    width: 1200px;
    height: 520px;
    margin-top: 50px;
}

/* 本周热销 */
.best-sellers{
    width: 1200px;
    height: 330px;
    margin-top: 50px;
}
.best-sellers img{
    width: 257px;
    height: 330px;
    margin-right: 65px;
}
.best-sellers .smaller{
    width: 220px;
    height: 300px;
    margin-bottom: 30px;
}

/* tricks */
.tricks{
    width: 1200px;
    height: 520px;
    margin-top: 50px;
}

/* 运动系列 */
.sport{
    width: 1200px;
    height: 203px;
    margin-top: 50px;
}

/* 舒适代码 */
.comfortable{
    width: 1200px;
    height: 152px;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* 分割线 */
.line{
    width: 1400px;
    height: 1px;
    background: black;
    margin-top: 15px;
}

/* 保护地球 */
.protect{
    width: 1200px;
    height: 135px;
}

/* 手机APP */
.phone{
    width: 1400px;
    height: 300px;
    margin-top: 15px;
    padding:20px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
/* 最新资讯 */
.newest{
    width: 465px;
    margin: auto;
}
.newest,.phone-picture,.website{
    float: left;
}
.newest-p{
    height: 80px;
    padding-top: 20px;
}
.newest-p p{
    height: 22px;
    line-height: 22px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.newest input{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 350px;
    height: 26px;
    text-align: center;
    margin-left: 58px;
}
.quick-btn{
    width: 96px;
    height: 29px;
    border: 2px solid black;
    text-align: center;
    line-height: 29px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.quick-btn:hover{
    background-color: #000;
    color: #fff;
    transition: 1s;
}
.subscription{
    position: relative;
}
.subscription img{
    width: 53px;
    height: 31px;
}
.weixin{
    position: absolute;
    left: 175px;
    top: 45px;
    /* margin-left: -27px;
    margin-top: -15px; */
}
.subscription .weixin:hover{
    width: 61px;
    height: 39px;
    /* margin-left: 169px;
    margin-top: -4px; */
    transition: 0.5s;
}
.subscription .weibo{
    position: absolute;
    left: 225px;
    top: 45px;
}
.subscription .weibo:hover{
    width: 61px;
    height: 39px;
    transition: 0.5s;
}
.phone-picture{
    width: 465px;
    height: 280px;
}
